<div style="display: block; text-align: center;">
    <img src="logo.png" alt="" class="logo">
</div>
<h1 style="text-align: center; text-transform: uppercase;">Votre liste de mp3 ! WAF !</h1>
<div style="display:block; width:100%; text-align:center; padding-top: 20px;" >

    <input id="search" type="text" ng-model="recherche" style="display:inline-block" placeholder="Rechercher">
    <label for="filter">Filtrer par:</label>
    <select id="filter" ng-model="tri" style="display:inline-block">
        <option value="title">Titre</option>
        <option value="artist">Artiste</option>
        <option value="album">Album</option>
        <option value="year">Année</option>
    </select>
<table>
    <tr ng-model="tri">
        <td>Titre</td>
        <td>Artiste</td>
        <td>Album</td>
        <td>Année</td>
        <td>Supprimer</td>
    </tr>

    <tr row ng-repeat="song in songs | filter:recherche | orderBy:tri"></tr>
</table>
</div>