<div >
    <input type="text" ng-model="recherche">

    <select ng-model="tri">
        <option value="tile">Nom</option>
        <option value="artist">artiste</option>
        <option value="album">album</option>
        <option value="year">année</option>
    </select>
<table>
    <tr ng-model="tri">
        <td>Nom</td>
        <td>Artiste</td>
        <td>Album</td>
        <td>Année</td>
        <td>Supression</td>
    </tr>
    <tr row ng-repeat="song in songs | filter:recherche | orderBy:tri"></tr>
</table>
</div>